@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Raleway&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
	font-weight: bolder;
}

a {
	text-decoration: none;
}